{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <!-- Identify User -->
    <script type='text/javascript'>
      let user = '{{user}}'

      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');
      
      function getCookieAnonymousUser(name){
        var cookieArr = document.cookie.split(';');
      
        for(var i=0 ; i<cookieArr.length ; i++){
          var cookiePair = cookieArr[i].split('=');
          if (name == cookiePair[0].trim()){
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null
      }
      var cart = JSON.parse(getCookieAnonymousUser('cart'))
      if (cart == undefined){
        cart = {}
        document.cookie = 'cart='+JSON.stringify(cart)+";domain=;path=/"
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Dj kala</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-page' %}">Accounts</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/product/category/Makeup">Makeup</a>
                <a class="dropdown-item" href="/product/category/Perfume">Perfume</a>
                <a class="dropdown-item" href="/product/category/Health">Health and Care</a>
                <a class="dropdown-item" href="/product/category/Digital">Digital</a>
                <a class="dropdown-item" href="/product/category/Stationery">Lavazem Tahrir</a>
              </div>
            </li>
          </ul>
          <div class="form-inline">
            <form class="form-inline my-2 my-lg-0" method='get' action='{% url "search-results" %}'>
              <input class="form-control mr-sm-2" name='query' type="search" placeholder="Search..." aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="{% url 'cart' %}"><img src="{% static 'website/images/cart.png' %}" alt="" id="cart-icon"></a>
            <p id='cart-total'>{{ cartitems }}</p>
          </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type='text/javascript' src="{% static 'website/js/script.js' %}"></script>
  </body>
</html>